.navbar {
  background: rgb(0, 0, 0);
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.dark .navbar {
  background: #1a202c;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.dark .nav-links a {
  color: #cbd5e0;
}

/* Menu Hamburger */
.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.904);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 15px;
    border-bottom: 1px solid gray;
  }

  .menu-button {
    display: block;
  }
}
